
.bg-main {
    background-color: #b31247;
    min-height: 100vh;
}

.box-white {
    background-color: white;
}

.text-title {
    color: white;
    font-weight: 700;
}

.btn { 
    background-color: lightgray;
    color: #b31247;
    border: none;
    font-weight: 600;
}


.ticket-box {
    background-color: #e5e5e5;
    border-radius: 10px;
    padding: 20px;
}

.ticket-left {
    background-color: #cfcfcf;
}

.ticket-head {
    font-weight: 600;
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
}

.ticket-body {
    padding-top: 10px;
}